body {
  margin: 80px 0 0;
}

.carousel-container {
  background-color: ghostwhite;
  padding: 30px 30px 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Nunito, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.slides-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.guide-wrapper {
  font-size: 10px;
  color: slategray;
  padding: 15px 5px 0;
  display: flex;
}

.guide {
  margin: 0 8px 0;
}

.guide.active {
  color: darkslategray;
}

.carousel-icon {
  font-size: 30px; 
  /*for the icon size*/
  color: darkslategray;
  margin: 0px 8px 0px;
  transition: all .2s;
}

.carousel-icon:hover {
  color: gray;
}

.imgs-container {
  display: flex;
}

.img-wrapper {
  margin: 0 5px 0;
  position: relative;
  width: 350px; 
  height: 250px;
  /*setting height & width so flow wont change if image can't load*/
  box-shadow: 0px 1px 5px gray;
}

.img-wrapper>img {
  width: 350px;
  height: 250px;
  object-fit: cover;
}

.img-wrapper>figcaption {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: rgba(0,0,0,0.5);
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  transition: all .5s;
}

.img-wrapper:hover>figcaption {
  opacity: 1;
}

@media (max-width: 1200px) {
  .img-wrapper:nth-child(3) {
    display: none;
  }
}

@media (max-width: 800px) {
  .img-wrapper:nth-child(2) {
    display: none;
  }
}

@media (max-width: 450px) {
  .img-wrapper {
    width: 300px;
    height: 200px;
  }

  .img-wrapper>img {
    width: 300px;
    height: 200px;
  }
}